name: docker pacakge

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, 'skip ci') && !contains(github.event.head_commit.message, 'ci skip')"
    permissions:
      contents: read
      packages: write
    steps:
      # https://stackoverflow.com/a/70250677
    - id: lowercase_repo
      run: REPO=${{ github.repository }} echo "repo=${REPO,,}" >> "$GITHUB_OUTPUT"
    - uses: actions/checkout@v5
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ steps.lowercase_repo.outputs.repo }}:latest
